.cards:hover {
  .flip-hover {
    transform: rotateY(180deg);
  }
}
.trees {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.903),
      rgba(255, 255, 255, 0.885)
    ),
    url(../../assets/img/47776.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -90px;
  z-index: -1;
}
.branch {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.903),
      rgba(255, 255, 255, 0.885)
    ),
    url(../../assets/img/branch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  animation: moveUpDown 9s infinite;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes moveUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes moveUpDow {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(20vh);
  }
  99% {
    transform: translateY(100vh);
  }
}

.leaf {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.903),
      rgba(255, 255, 255, 0.885)
    ),
    url(../../assets/img/3491-removebg-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -3;
  animation: moveUpDow 10s infinite;
}
.butterfly {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.903),
      rgba(255, 255, 255, 0.885)
    ),
    url(../../assets/img/butterfly.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  animation: moveUp 30s infinite;
}

/* Questions Section */
.questions {
  .right {
    background: url("../../assets/img/QUESTIONS.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .text-cont {
    padding: 4rem;
  }
}

/* TEAM SECTION */
.team {
  background-image: linear-gradient(#232626db, #151616),
    url(../../assets/img/solar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .cards {
    transition: 0.5s ease-in-out;
  }

  .cards:hover {
    background: #00b150;
    border: 5px solid #00b150;
    transition: 0.5s ease-in-out;

    .icons {
      background: white;
      color: #00b150;
    }
    .icon-hover {
      color: #00b150;
    }
  }
  .icon-hover {
    color: white;
  }
  .icon-hover:hover {
    color: #00b150;
  }
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex;
  gap: 20px;
}

.carousel-item .card {
  width: 48%;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.overlay {
  background: linear-gradient(to bottom, #00000000, #000);
}
.iconse-hover:hover {
  background: #00b150;
  transition: all 0.3s;
}
.iconse-hover {
  cursor: pointer;
  transition: all 0.5s;
}
.text-hover:hover {
  color: #00b150 !important;
}
.footer {
  position: relative;

  .image-cont{
    background: linear-gradient(#0000009b, #0000008d), url("../../assets/img/f2.jpg");
    width: 30vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
     position: absolute;
    width: 30vw;
    right: 0;
    bottom: 40vh;
    z-index: 0;
  }
}
