* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background: #24231d;
  width: 100%;
  padding: 30px;
}
.aboutMetrics{
  background: linear-gradient(#000000c4, #000000ba), url(../../assets/img/sunset.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
